<!--
 * @Descripttion: 
 * @version: 
 * @Author: sueRimn
 * @Date: 2021-06-08 09:28:38
 * @LastEditors: sueRimn
 * @LastEditTime: 2021-06-11 09:19:19
-->
<!-- 头部 -->
<%- include("./layout/header.ejs") %>

  <div class="d-flex py-3 px-md-3">
    <div class="col-md-8 col-sm-12">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="media">
            <img src="https://static.runoob.com/images/mobile-icon.png" class="align-self-start mr-3" style="width:35px">
            <div class="media-body">
              <div class="my-1 h5"><strong>标题</strong></div>
              <div class="media my-2">
                <div class="media-body">     
                  <p>学的不仅是技术，更是梦想！！！</p>      
                </div>
                <img src="https://static.runoob.com/images/mobile-icon.png" alt="图片"
                 class="ml-3 mt-3 rounded-circle" style="width:100px;">
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">Third item</li>
      </ul>
    </div>
    <div class="col-4 d-none d-md-block d-lg-block d-xl-block ">
 
    </div>
  </div>

  <%- include("./layout/footer.ejs") %>