:root{
  --background-color: #24292e
}
body,html {
  margin:0;
  padding:0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
 text-decoration: none;
}
@font-face {
  font-family: 'iconfont';  /* Project id 2580362 */
  src: url('//at.alicdn.com/t/font_2580362_1wtru9fsc3a.woff2?t=1622369658427') format('woff2'),
       url('//at.alicdn.com/t/font_2580362_1wtru9fsc3a.woff?t=1622369658427') format('woff'),
       url('//at.alicdn.com/t/font_2580362_1wtru9fsc3a.ttf?t=1622369658427') format('truetype');
}
[class^="icon"]{
  font-family: 'iconfont';
  font-size: 16px;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-404::before{
  content: "\e61c";
}
img{
  width: 100%;
  display: block;
}
html,html body{
  background-color: #f1f1f1;
}
.h10{
  width: 100%;
  height: 10px;
  background-color: #f1f1f1;
  border-left: none;
  border-right: none;
}

.loader {
  border: 4px solid #383838;
  border-radius: 50%;
  border-top: 4px solid #8fe3fd;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 40%;
  left: calc(50% - 40px);
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@media(max-width:768px){
  .loader{
    width: 50px;
    height: 50px;
    left: calc(50% - 25px);
    border: 3px solid #383838;
    border-top: 3px solid #8fe3fd;
  }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loading{
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, .8);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  display: none;
}

#info{
  position: fixed;
  left: 0;
  width: 100%;
  top: 30px;
  min-width: 300px;
  display: none;
  z-index: 999;
  margin: 0 auto;
}
#info > div{
  min-width: 300px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
#upload{
  position: relative;
}
#upload:hover{
  cursor: pointer;
  opacity:.8;
}
#upload input{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index:1;
  opacity: 0;
  left: 0;
  top: 0;
}
p,div{
  word-break: break-all
}