<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>嗨，猫儿</title>
  <link rel='stylesheet' href='/css/style.css' />
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/js/axios.js"></script>
  <style>
    .navbar-toggler{
      padding: 0.25rem 0.3rem;
    }
    .navbar-toggler-icon{
      width: 1.4rem;
      height: 1.4rem;
    }
  </style>
</head>

<body>
  <div class="container-full">
    <!-- 头部导航 -->
    <% if(!locals.hideNav){ %>
    <div class="shadow-sm" style="background-color: #bde3ff;">
      <div class="container-xl">
        <nav class="navbar navbar-expand-md navbar-light" style="background-color: #bde3ff;">
          
         <a class="navbar-brand " href="#">
           <img class="rounded-circle" src="/img/touxiang.jpg" style="width:40px;height: 40px;" alt="">
         </a>
        
          
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
           <span class="navbar-toggler-icon"></span>
         </button>
        
          
         <div class="collapse navbar-collapse" id="collapsibleNavbar">
           <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mt-md-0 ">
             <li class="nav-item">
               <a class="nav-link" href="#">首页</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#">文章</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#">关注</a></a>
             </li> 
           </ul>

           <form class="form-inline my-2 my-lg-0">
            <div class="input-group">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="功能开发中....(搜不了)">
              <div class="input-group-append">
                <button class="btn btn-info" type="button">搜索</button>
              </div>
            </div>
          </form>
         </div> 
       </nav>
      </div>
    </div>
    <%} %>