<!-- 头部 -->
<%- include("../layout/header.ejs") %>

  <div class="text-center align-middle">
   <div class="mt-5">
    <i style="font-size:20rem;" class="icon-404"></i>
   </div> 
   <div class="alert alert-warning mb-2 mt-2">
    <strong><%= title %> </strong> 
  </div>
    <a  class="btn btn-primary" href="/">
      返回首页
    </a>
  </div>
  <!-- 尾部 -->
  <%- include("../layout/footer.ejs") %>