<!-- 头部 -->
<%- include("../layout/header.ejs",{
  hideNav:true
}) %>

<style>
  html,body{
    background-color: #f1f1f1;
  }
</style>
<div class="d-flex mt-5">
  <div class="col-md-6 col-lg-4 mt-5 col-sm-10 mx-auto">
   <div class="my-5">
    <img src="/img/bg500.png" alt="">
   </div>
   <div class="h3 my-5 text-center">
        <div class="alert alert-danger">
          <strong>发生未知错误!</strong> <%- locals.msg %>
        </div>
   </div>
   <div style="width:250px" class="mx-auto">
     <a href="/" class="btn btn-block btn-dark">
       返回首页
     </a>
   </div>
  </div>
</div>
  <!-- 尾部 -->
  <%- include("../layout/footer.ejs") %>